.dashboard-container {
    padding: 16px;
  }
  
  ion-card {
    margin-bottom: 16px;
  }
  
  ion-card-title {
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
  }
  
  .text-center {
    text-align: center;
  }
  
  ion-button {
    margin-top: 16px;
  }
  
  ul {
    padding-left: 20px;
    list-style-type: disc;
  }
  