ion-header {
    background-color: #3880ff;
  }
  
  ion-title {
    color: white;
  }
  
  ion-button {
    margin-top: 5px;
  }
  
  ion-grid {
    margin-top: 20px;
  }
  
  ion-col {
    text-align: center;
  }
  