.estudiante-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    /* Añade espacio entre las filas */

    th,
    td {
        padding: 12px 20px;
        /* Espaciado dentro de las celdas */
        text-align: left;
    }

    th {
        font-weight: bold;
        border-bottom: 2px solid #ccc;
    }

    td {
        border: 1px solid #ccc;
        /* Bordes ligeros para las celdas */
        border-radius: 4px;
    }

    tr {
        transition: background-color 0.3s;
        /* Efecto de transición */
    }

    tr:hover {
        background-color: #f9f9f9;
        /* Color al pasar el ratón por encima de la fila */
    }
}